.posts-card{
    width: 850px;
    min-height: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px; 

    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 25px;

    .post-image-wrapper{
      display: flex;
      padding: 14px;
      gap: 10px;
    }
    .post-image{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: contain;
    }
    .name{
      font-family: system-ui;
      margin: 0 0 0 10px;
      font-size: 19px;
      text-decoration: underline;
      color: rgb(40, 40, 124);
      cursor: pointer;
    }
    .timestamp{
      font-family: system-ui;
      font-size: 10px;
      color: black;
      font-weight: 450;
      margin: 0 0 0 10px;
    }

    .status{
      text-align: left;
      margin: 10px 0 0 10px;
      font-family: system-ui, sans-serif;
      font-size: 19px;
      font-weight: 450;
      color: black;
    }

    position: relative;
    .action-container {
      position: absolute;
      right: 20px;
      cursor: pointer;
      display: flex;
      top: 10px;
      .action-icon {
        color: #474747;
        padding: 10px;
      }
    
      .action-icon:hover {
        color: #000000;
        background-color: #b7b7b7;
        padding: 10px;
        border-radius: 50%;
      }
    }
    

}


