.profile-card{
  width: auto;
  height: auto;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .nickname{
    font-weight: 350;
    color: black;
    font-size: 17px;
  }
  .profile-info{
    display: flex;
    justify-content: space-between;
    .profile-image{
      width: 150px;
      border-radius: 50%;
      height: 150px;
      border: 1px solid rgb(179, 176, 176);
      padding: 5px;
      cursor: pointer;
      object-fit: contain;
    }
    .right-info{
      margin-top: 30px;
      margin-right: 25px;
      p{
        margin-top: 2px;
        font-family: system-ui;
      }
    }
  }
  .website{
    color: #004c75;
  }
  .about-me{
    font-weight: 350;
    font-size: 17px;
  }
  .skills{
    font-weight: 350;
    font-size: 17px;
  }
  .edit-btn{
    position: absolute;
    right: 20px;
    font-size: 20px;
    .edit-icon{
      cursor: pointer;
      padding: 5px;
    }
    .edit-icon:hover{
      padding: 5px;
      background-color: rgb(214, 209, 209);
      border-radius: 50%;

    }
  }
  .userName{
    font-family: system-ui;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }

  .heading{
    font-weight: 350;
    margin-top: -20px;
    font-family: system-ui;
    color: black;
    font-size: 17px;
    line-height: 20px;
  }
  .location{
    font-weight: 350;
    margin-top: -12px;
    font-family: system-ui;
    color: black;
    font-size: 17px;
    line-height: 20px;
  }
  
}

.skill-text{
  font-weight: 600;
  margin-right: 5px;
}