.like-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 7px 10px;
  cursor: pointer;
  p{
    font-family: system-ui;
    font-weight: 400;
    color: black;
    font-size: 13px;
    margin-left: 5px;
  }
  .like-comment{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .comment-input{
    height: 35px;
    background-color: whitesmoke;
    padding-left: 7px;
    border-radius: 30px;
    border: 1px solid black;
  }
  .comment-input:focus{
    outline: 1px solid rgb(183, 177, 177);
    color: black;
  }
  .add-comment-btn{
    width: 150px;
    height: 35px;
    background-color: #0a66c2;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
  }
  .all-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(227,227,227);
    border-radius: 10px;
    position: relative;
    margin: 10px;
    .name{
      color: black;
      text-decoration: none;
      margin-left: 10px;
      margin-top: 10px;

    }
    .comment{
      margin-left: 10px;
      margin-top: 0px;
    }
    .timestamp{
      position: absolute;
      right: 11px;
      top: 11px;
    }
  }
  .hr-line{
    margin-top: -20px;
    hr{
      border: 1px solid purple;
    }
  }
  .likes-comment-inner{
    display: flex;
    align-items: center;
    margin-top: -24px;
    .blue{
      color : #0a66c2;
    }
    .black{
      columns: black;
    }
    p{
      font-family: system-ui;
      font-weight: 600;
      color: black;
      font-size: 16px; 
    }
  }
}