@import url('./components/common/common.scss');
$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212121;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

.common-input {
  height: 20px;
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 16px;
}
.common-input:focus {
  outline: 1px solid $linkedinBlue1;
}
.common-textArea{
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 3px;
  font-family: system-ui;
  font-size: 16px;
}

.common-textArea:focus {
  outline: 1px solid $linkedinBlue1;
}